@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;

		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 3.9%;

		--radius: 0.5rem;

		--table-primary: 0 0% 98%;
		--table-primary-hover: 0 0% 92%;
		--table-secondary: 0 0% 96%;
		--table-secondary-hover: 0 0% 92%;

		--table-row-odd: 0 0% 99%;
		--table-row-odd-hover: 0 0% 86%;
		--table-row-even: 0 0% 95%;
		--table-row-even-hover: 0 0% 89%;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 83.1%;

		--table-primary: 0 0% 9%;
		--table-primary-hover: 0 0% 5%;
		--table-secondary: 0 0% 10%;
		--table-secondary-hover: 0 0% 5%;

		--table-row-odd: 0 0% 9%;
		--table-row-odd-hover: 0 0% 5%;
		--table-row-even: 0 0% 10%;
		--table-row-even-hover: 0 0% 5%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

:root {
	--nav-height: 4rem;
	--100vh-without-nav: calc(100vh - var(--nav-height));
}

.prose :is(mark) {
	@apply bg-orange-400 px-1 rounded-sm p-[0.08rem]
}