/* Grid Content and Header */
.grid-content {
    background-color: hsl(var(--grid-row-even-background));
    color: hsl(var(--grid-text-color));
    height: 100%;
    flex-grow: 0;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.grid-header {
    top: 0;
    position: sticky;
}

.grid-header-row {
    background-color: hsl(var(--grid-header-background));
    display: flex;
    border: 1px solid hsl(var(--grid-border));
    min-width: fit-content;
    z-index: 10;
}

.grid-header-cell {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-right: 1px solid hsl(var(--grid-border));
    background-color: hsl(var(--grid-header-cell-background));
    width: var(--width);
    max-width: var(--max-width);
    min-width: var(--min-width);
    align-items: center;
    gap: 0.25rem;
}

.grid-header-cell:hover {
    background-color: hsl(var(--grid-header-cell-background-hover));
}

.grid-header-cell:last-child {
    border-right: none;
}

/* Grid Rows */
.grid-row {
    display: flex;
    border: 1px solid hsl(var(--grid-border));
    border-top: none;
    min-width: fit-content;
}

.grid-row:last-child {
    border-bottom: none;
}

.grid-row:nth-child(odd) {
    background-color: hsl(var(--grid-row-odd-background));
}

.grid-row:hover:nth-child(odd) {
    background-color: hsl(var(--grid-row-odd-background-hover));
}

.grid-row:nth-child(even) {
    background-color: hsl(var(--grid-row-even-background));
}

.grid-row:hover:nth-child(even) {
    background-color: hsl(var(--grid-row-even-background-hover));
}

/* Grid Cells */
.grid-cell {
    display: flex;
    padding: 0.5rem;
    border-right: 1px solid hsl(var(--grid-border));
    cursor: pointer;
    width: var(--width);
    max-width: var(--max-width);
    min-width: var(--min-width);
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-cell:last-child {
    border-right: none;
}

/* Sticky Offsets */
.offset-left {
    left: var(--offset);
    position: sticky;
}

.offset-right {
    right: var(--offset);
    position: sticky;
}

/* Pagination */
.pagination {
    background-color: hsl(var(--grid-footer-background));
    padding: 0.75rem;
    border: 1px solid hsl(var(--grid-border));
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 0.75rem;
}

@media (min-width: 640px) {
    .pagination {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* Pagination Details */
.pagination-details {
    color: hsl(var(--grid-text-color));
    order: 2;
    column-span: 2;
    display: none;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
}

@media (min-width: 640px) {
    .pagination-details {
        order: 1;
        grid-column: span 1 / span 1;
        display: block;
        text-align: left;
    }
}

/* Pagination Navigation and Page Wrapper */
.pagination-navigation-container {
    order: 1;
    display: flex;
    gap: 0.5rem;
}

@media (min-width: 640px) {
    .pagination-navigation-container {
        order: 2;
        justify-content: center;
    }
}

.pagination-per-page-wrapper {
    order: 1;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 640px) {
    .pagination-per-page-wrapper {
        order: 2;
    }
}

/* Pagination Buttons */
.pagination-button {
    background-color: hsl(var(--grid-row-odd-background));
    border: 1px solid hsl(var(--grid-border));
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-button:hover:not(:disabled) {
    background-color: hsl(var(--grid-accent-color));
    color: hsl(var(--grid-row-even-background));
}

/* Pagination Inputs and Select */
.pagination-input,
.pagination-select {
    background-color: hsl(var(--grid-row-odd-background));
    border-radius: 0.25rem;
    border: 1px solid hsl(var(--grid-border));
    padding: 0 0.5rem;
    height: 2rem;
    color: hsl(var(--grid-text-color));
}

.pagination-input {
    max-width: 5rem;
}

/* Label */
label {
    padding-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: hsl(var(--grid-text-color));
}
