@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		--grid-border-width: 1px;
		--grid-border: 0, 0%, 85%;
		--grid-header: 0, 0%, 98%;
		--grid-header-cell: 0 0% 96%;
		--grid-header-group: 0, 0%, 96%;
		--grid-header-group-cell: 0, 0%, 98%;
		--grid-body: 0 0% 40%;
		--grid-body-row-even: 0 0% 99%;
		--grid-body-row-odd: 0 0% 97%;
		--grid-body-cell: 0, 0%, 99%;
		--grid-footer: 0, 0%, 98%;
		--grid-toolbar: 0, 0%, 98%;
		--grid-pinned-cell: 0, 0%, 90%;
		--grid-pinned-header-cell: 0, 0%, 85%;
		--grid-background: 0, 0%, 99.5%;

		--grid-pagination: 0, 0%, 98%;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 0 0% 83.1%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;

		/* --grid-border-width: 1px;
		--grid-border: 0 0% 16%;
		--grid-header: 0, 0%, 9%;
		--grid-header-cell: 0 0% 9%;
		--grid-header-group: 0 0% 9%;
		--grid-header-group-cell: 0 0% 9%;
		--grid-body: 0 0% 40%;
		--grid-body-row-even: 0 0% 10%;
		--grid-body-row-odd: 0 0% 8%;
		--grid-body-cell: 0 0% 14%;
		--grid-footer: 0 0% 9%;
		--grid-toolbar: 0 0% 9%;
		--grid-pinned-cell: 0 0% 13%;
		--grid-pinned-header-cell: 0 0% 13%;
		--grid-background: 0 0% 10%;

		--grid-pagination: 0 0% 9%; */
	}
}

@layer base {
	* {
		padding: 0;
		margin: 0;
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.grid-body-overlay {
		@apply pointer-events-auto absolute bottom-0 left-0 right-0 top-0 z-[5] h-full w-full bg-black opacity-50;
	}

	.grid-wrapper-overlay {
		@apply pointer-events-auto absolute bottom-0 left-0 right-0 top-0 z-[10000] h-full w-full opacity-50;
	}

	.grid-wrapper {
		@apply relative flex h-full max-h-fit flex-col;

		&[data-fullscreen='true'] {
			@apply absolute inset-0 z-20 p-4 bg-background;
		}
	}

	.grid-container-wrapper {
		@apply inline-block max-h-[600px] w-full overflow-auto border;

		&[data-fullscreen='true'] {
			@apply h-full max-h-full overflow-auto;
		}
	}

	.grid-container {
		@apply inline-block min-w-full grow-0;

		&.grid-container-shadcn {
			@apply bg-background;
		}
	}

	/* Header */
	.grid-head {
		@apply sticky top-0 z-10 flex flex-row;

		&.grid-head-shadcn {
			@apply bg-background;
		}
	}

	.grid-head-row {
		@apply flex w-full flex-row;
	}




	.grid-head-row-leaf-column-cell {
		@apply flex h-full flex-col justify-end self-end border-b border-r p-2 text-sm font-medium leading-4;

		width: var(--width);
		min-width: var(--min-width);
		max-width: var(--max-width);

		&[data-pinned] {
			@apply bg-sidebar;
		}

		&[data-pinned='right'] {
			right: var(--pin-right-offset, 0);
		}

		&[data-pinned='left'] {
			left: var(--pin-left-offset, 0);
		}
	}

	.grid-head-row-leaf-column-cell-content {
		@apply flex w-full flex-row flex-nowrap items-end justify-between;

		&.sortable {
			cursor: pointer;
			user-select: none;
		}
		&.sortable:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}

		.sort-indicator {
			display: flex;
			align-items: center;
			opacity: 0.5;
		}

		&.sortable:hover .sort-indicator {
			opacity: 1;
		}
	}

	.grid-head-row-group-column-cell-content {
		@apply flex flex-row items-center border-b border-r px-2 py-2;
		/* text-overflow: ellipsis;
		text-wrap: nowrap;
		overflow: hidden; */
	}

	.grid-head-row-group-column-cell {
		@apply flex h-full flex-col text-sm font-medium leading-4;
	}

	.grid-head-row-group-column-cell-header {
		@apply flex h-full flex-row items-center justify-center gap-2 text-center;
	}

	/* Body */
	.grid-body {
		@apply relative flex w-full flex-col;
	}

	.grid-body-row {
		@apply flex h-full flex-row border-b;

		&:last-child {
			border-bottom: none;
		}
	}

	.grid-body-row-expanded {
		@apply flex h-full flex-row border-b;

		&:last-child {
			border-bottom: none;
		}
	}

	.grid-body-row-cell {
		@apply flex items-center px-1 py-2 transition-all duration-300;
		width: var(--width);
		min-width: var(--min-width);
		max-width: var(--max-width);

		&[data-pinned] {
		}
		
		&[data-pinned='right'] {
			right: var(--pin-right-offset, 0);
			@apply bg-primary-foreground border-l;
		}

		&[data-pinned='left'] {
			left: var(--pin-left-offset, 0);
		}
	}

	.grid-body-row-cell-content {
		@apply w-full overflow-hidden text-ellipsis whitespace-nowrap;
	}

	.grid-body-group-row {
		@apply flex w-full flex-row border-b;
	}

	/* Pinned columns base positioning */
	[data-pinned='right'],
	[data-pinned='left'] {
		position: sticky;
		z-index: 2;
		background-clip: padding-box;
	}

	/* Footer */

	.grid-footer-container {
		@apply sticky bottom-0 left-0 border-b;
	}

	/* Toolbar */

	.grid-toolbar-container {
		@apply flex items-end justify-end;
	}

	/* Column Filtering */

	.grid-head-row-leaf-column-filter-input-wrapper {
		@apply h-9 w-full pt-1;
	}

	.grid-head-row-leaf-column-filter-input {
		@apply h-5 rounded-sm border px-0 py-1 text-xs;
		color: hsl(var(--muted-foreground));
	}

	/* Copy Feedback */

	.copy-feedback {
		animation: copyFeedback 1s ease;
	}

	@keyframes copyFeedback {
		0% {
			background-color: rgb(59 130 246 / 0.2); /* bg-blue-500/20 */
		}
		100% {
			background-color: transparent;
		}
	}

	/* Pagination */

	.grid-pagination-container {
		@apply flex min-w-full flex-row items-center justify-between gap-2 border-x p-3 md:flex-row;
	}

	.grid-pagination-container-page-input {
		@apply !h-6 w-full max-w-[60px] p-2 text-xs;
		border-color: hsl(var(--grid-border));
	}
}
